@mixin estiloTitle($font_size){
    font-size: $font_size;
    font-family: $font_title;
    text-decoration: underline;
    text-decoration-color: $color1;
    color: $color10;
}

@mixin estiloFormulario($border, $border_radius){
    font-family: $font_text;
    margin: $margin-title;
    border: $border;
    border-radius: $border_radius;
}

@mixin estiloMenuLink($font-family, $font-size, $color){
    transition: 0.5s ease;
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    font-size: $font-size;
    text-decoration: none;
    color: $color;
}

@mixin estiloMenuLi($width, $background-color){
    display: flex;
    height: 100%;
    width: $width;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    background-color: $background-color;
}

@mixin estiloMenuList($width, $justify-content){
    width: $width;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: $justify-content;
    list-style: none;
    padding: 0;
}